@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-background {
    background-color: #6491bd !important;
    background-size: cover;
    background-position: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}


