@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-background {
    background-color: #6491bd !important;
    background-size: cover;
    background-position: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-heading {
    font-size: 2rem; /* Możesz dostosować rozmiar czcionki */
    font-weight: bold; /* Pogrubienie tekstu */
    color: #333; /* Kolor tekstu */
    margin-bottom: 1rem; /* Odstęp poniżej nagłówka */
}


